@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@layer base{
    html, body, #root {
        height: 100%;
        margin: 0;
      }

    #root{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
}